
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Orange: hsl(26, 100%, 55%);
    --Paleorange: hsl(25, 100%, 94%);  
    --Verydarkblue: hsl(220, 13%, 13%);
    --Darkgrayishblue: hsl(219, 9%, 45%);
    --Grayishblue: hsl(220, 14%, 75%);
    --Lightgrayishblue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
}
body{
    width: 100%;
    height: 100%;
    font-family: "Kumbh Sans", sans-serif;
    display: grid;
    grid-template-rows:100px 650px 100px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.navbar{
    height: 100vh;
    list-style-type: none;
    z-index: 10;
    background-color: white;
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    transition: left 0.5s ease;
}
.show{
    left: 0;
}
nav ul{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 1rem;
    list-style-type: none;
}
nav li{
    font-weight: bold;
}
.first__nav{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.second__nav{
    display: flex;
    column-gap: 1rem;
}
.second__nav img{
    width: 1.56rem;
}
.menu{
    width: 20px;
    height: 20px;
}
.image-container{
    min-height: 400px;
    position: relative;
    overflow: hidden;
}
.image-container .img{
    width: 100%;
    height: auto;
    position: absolute;
}
.arrows{
    width: 100%;
    position: absolute;
    top:35%;
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
}
.arrows .icon{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    padding: 1rem;
    position: relative;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discount-amount{
    font-weight: bold;
    font-size: 1.5rem;
}
.discount-price{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.discount-percentage{
    font-size: 1.2rem;
    background-color: black;
    color: white;
    padding: 0.2rem;
    border-radius: 0.2rem;
}
.original-amount{
    text-decoration: line-through;
    color: rgb(149, 146, 146);
}
.content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.content p{
    color: rgb(109, 111, 113);
}
.calculation-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background: var(--Lightgrayishblue);
    border-radius: 1rem;
}
.product-quantity{
    font-weight: bold;
}
.add-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    column-gap: 1rem;
    background-color: var(--Orange);
    box-shadow: 0px 2px 5px black;
    width: 100%;
}
.add-cart p,.add-cart-icon{
    color: black;
    font-weight: bold;
    font-size: 1rem;
}
.image-container-desktop img{
    width: 95px;
    height: 95px;
    border-radius: 1rem;
}
.image-container-desktop{
    display: none;
}
.cart-box{
    background-color: white;
    border-radius: 0.25rem;
    z-index: 1;
    position: absolute;
    top:20%;
    left: 5%;
    right: 5%;
}
.cart-box{
    display: grid;
    grid-template-rows:65px 190px;
}
.cart{
    padding: 1rem;
    border-block-end: 0.00001rem solid black;
}
.cart-container{
    padding: 1rem;
    display: grid;
    grid-template-rows: 3.75rem;
    align-items: center;
    gap: 1rem;
    display: none;
}
.amount-price{
    grid-column: 2/3;
}
.total-price{
    font-weight: bold;
}
.products-image{
    width: 60px;
    height: 60px;
    border-radius: 0.5rem;
}
.products-image img{
    width: 100%;
    border-radius: 0.5rem;
}
.product-name{
    grid-column: 2/3;
    height: fit-content;
}
.check-out{
    padding: 1rem;
    grid-row: 2/3;
    grid-column: 1/4;
    background: var(--Orange);
    border: none;
    font-weight: bold;
    border-radius: 0.5rem;
}
.hide{
    display: none;
}
.shopping-cart{
    position: relative;
}
.no-of-items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height:20px;
    background: var(--Orange);
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    top: -10px;
    left: 16px;
    border: none;
}
.no-of-items-hidden{
    display: none;
}
.cart-container__main{
    color: var(--Grayishblue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns{
    display: grid;
    gap: 1rem;
}
.image-container-des{
    display: none;
}
.cross-icon{
    display: none;
}
@media screen and (min-width:760px) {
    body{
        display: grid;
        justify-content: center;
    }
    .first__nav{
        width: 600px;
        display: grid;
        grid-template-columns: 150px 365px;
        justify-content: space-between;
    }
    .menu,.close{
        display: none;
    }
    .close{
        width: 50px;
        height: 50px;
    }
    .navbar{
        width: 100%;
        height: fit-content;
        position: static;
    }
    .navbar ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: rgb(132, 128, 128);
    }
    .navbar ul li{
        font-size: 0.75rem;
        font-weight: 400;
    }
    .second__nav{
        align-items: center;
    }
    .second__nav .image-avatar{
        width: 50px;
    }
    .second__nav .image-avatar:hover{
        border: solid orange;
        border-radius: 50%;
    }
    .image-container-desktop{
        display: flex;
        grid-row: 2/3;
        align-items: center;
        justify-content: space-between;
        height: auto;
    }
     main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: center;
        padding: 2rem;
        row-gap: 2rem;
        column-gap: 1rem;
        position: relative;
    }
    .image-container-des{
        max-width: 500px;
        height: auto;
        display: flex;
        justify-content: center;
    }
    .image-container-des img{
        width: 100%;
        height: 100%;
        border-radius: 1rem;
    }
    .content{
        grid-column: 2/3;
        max-width: 500px;
        gap: 2rem;
        padding-block-end: 0rem;
    }
    .price{
        flex-direction: column;
        align-items: flex-start;
    }
    .btns .calculation-buttons{
        max-width: 160px;
        width: 100%;
        max-height: 55px;
    }
    .btns .add-cart{
        max-width: 270px;
        max-height: 55px;
    }
    .btns{
        display: flex;
    }
    h1{
        font-size: 3rem;
    }
    header{
        border-block-end: 0.0001rem solid rgb(175, 172, 172);
    }
    .shopping-cart,.add-cart,.minus-button,.plus-button,.image-container-desktop img,.image-avatar,ul li,.image-container-des,.delete-icon{
        cursor: pointer;
    }
    .shoes{
        opacity: 0.3;
    }
    .border{
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid orange 0.1rem;
        border-radius: 1rem;
    }
    .border img{
        width: 100%;
    }
    .cart-box{
       left: 62%;
       top: 2%;
       box-shadow: 0px 2px 5px rgb(148, 147, 147);
    }
.arrows{
    cursor: pointer;
}
.image-container{
    display: none;
}
.image-container-active{
    width: 500px;
    height: 500px;
    display: flex;
    border-radius: 1rem;
    position: relative;
}
.arrows{
    position: absolute;
    top:50%;
}
.ico{
    margin-inline: 1rem;
}
.ico .cross-icon{
    width: 30px;
    height: 30px;
} 
.cross-icon:hover{
    color: var(--Orange);
    cursor: pointer;
}
.image-container-1{
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 500px 50px;
    position: absolute;
    top:3%;
    left: 25%;
    row-gap: 0.5rem;
    display: none;
}
.cross-icon{
    display: flex;
}
.image-container-1 .image-container-desktop{
    grid-row: 2/3;
    padding: 1rem;
}
.image-container-1 .slide{
    grid-row: 1/2;
}
}